/* ==========================================================================
    DEFAULT THEME - DARK VERSION - Warm Gray Palette
    ========================================================================== */

/* Color codes used for the theme */
$primary-color              : #9F908C;
$gray                       : #9F908C;
$dark-gray                  : #5E5451;
$darker-gray                : #2A3336;
$light-gray                 : #CEBEBB;

$background                 : #151F22;
$background-light           : #2A3336;
$background-lighter         : #5E5451;
$text                       : #FFFEEE;
$link                       : #CEBEBB;
$link-dark                  : #9F908C;
$link-light                 : #EBE0DD;

/* Color codes used for the site */
$danger-color               : #ee5f5b;
$info-color                 : #9F908C;
$notice-color               : #9F908C;
$success-color              : #62c462;
$warning-color              : #f89406;

/* Other basic settings for the template */
$border-radius              : 4px;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125);
$global-transition          : all 0.2s ease-in-out;
$masthead-height            : 0px;
$navicon-width              : 28px;
$navicon-height             : 4px;
$sidebar-link-max-width     : 250px;
$sidebar-screen-min-width   : 1024px;

/* Dark theme for the site */
html[data-theme="dark"] {
    --global-base-color                 : #{$primary-color};
    --global-bg-color                   : #{$background};
    --global-footer-bg-color            : #{$background-light};
    --global-border-color               : #5E5451;
    --global-dark-border-color          : #{$background-lighter};
    --global-code-background-color      : #2A3336;
    --global-code-text-color            : #FFFEEE;
    --global-fig-caption-color          : #CEBEBB;
    --global-link-color                 : #{$link};
    --global-link-color-hover           : #EBE0DD;
    --global-link-color-visited         : #9F908C;
    --global-masthead-link-color        : #{$text};
    --global-masthead-link-color-hover  : #{$primary-color};
    --global-text-color                 : #{$text};
    --global-text-color-light           : #CEBEBB;
    --global-thead-color                : #5E5451;
}
