/* ==========================================================================
    DEFAULT THEME - LIGHT VERSION - Warm Gray Palette
    ========================================================================== */
/* Color codes used for the theme */
$primary-color              : #807471;
$gray                       : #9F908C;
$dark-gray                  : #5E5451;
$darker-gray                : #2A3336;
$light-gray                 : #CEBEBB;
$lighter-gray               : #EBE0DD;

/* Color codes used for the site */
$danger-color               : #ee5f5b;
$info-color                 : #807471;
$notice-color               : #9F908C;
$success-color              : #62c462;
$warning-color              : #f89406;

/* Other basic settings for the template */
$border-radius              : 4px;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125);
$global-transition          : all 0.2s ease-in-out;
$masthead-height            : 0px;
$navicon-width              : 28px;
$navicon-height             : 4px;
$sidebar-link-max-width     : 250px;
$sidebar-screen-min-width   : 1024px;

/* Default light theme for the site */
:root {
    --global-base-color                 : #{$primary-color};
    --global-bg-color                   : #FFFEEE;
    --global-footer-bg-color            : #EBE0DD;
    --global-border-color               : #{$lighter-gray};
    --global-dark-border-color          : #9F908C;
    --global-code-background-color      : #EBE0DD;
    --global-code-text-color            : #2A3336;
    --global-fig-caption-color          : #9F908C;
    --global-link-color                 : #5E5451;
    --global-link-color-hover           : #2A3336;
    --global-link-color-visited         : #807471;
    --global-masthead-link-color        : #2A3336;
    --global-masthead-link-color-hover  : #5E5451;
    --global-text-color                 : #2A3336;
    --global-text-color-light           : #9F908C;
    --global-thead-color                : #EBE0DD;
}
